@page
@model NorthwindRazorPages.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].TitleOfCourtesy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].ReportsToNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportsToNavigation.EmployeeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
